<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.CategoryMapper">


    <select id="sreachCategroy" resultType="com.sky.entity.Category">
        select  *from Category
        <where>
            <if test="name !=null and name !=' '" >
                and name like concat('%',#{name},'%')
            </if>
        </where>
        order by sort
    </select>


    <update id="updateCateInfo"  parameterType="com.sky.entity.Category">
        update category
        <set>
            <if test="type!=null">type = #{type},</if>
            <if test="name !=null">name = #{name},</if>
            <if test="sort !=null">sort = #{sort},</if>
            <if test="status !=null">status = #{status},</if>
            <if test="createTime !=null">create_time = #{createTime},</if>
            <if test="updateTime !=null">update_time = #{updateTime},</if>
            <if test="updateUser !=null">update_user = #{updateUser},</if>
            <if test="createUser !=null">create_user = #{createUser},</if>
            <if test="status !=null">status = #{status}</if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>



    <select id="sreachCatebyType" resultType="com.sky.dto.CategoryPageQueryDTO">
        select  * from Category
        <where>
            <if test="name !=null and name !=' '" >
                and name like concat('%',#{name},'%')
            </if>
            <if test="type != null">
                and tpye = #{type}
            </if>
        </where>
        order by sort limit #{page},#{pageSize}
    </select>

</mapper>
